@import '../../mixins.scss';

.carousel-btn {
    cursor: pointer;
    height: 100%;
    background-color: transparent;

    svg {
        width: rem(96);
        color: white;

        @include tablet {
            width: rem(56);
        }

        @include mobile-large {
            width: rem(24);
        }
    }
}