@import '../../mixins.scss';

// style du composant carousel
.carousel {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: rem(415);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;

    @include mobile-large {
        height: rem(255);
    }


    .medias {
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .medias-item {
        opacity: 1;
        visibility: visible;
        position: absolute;
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        object-fit: cover;
        transform: scale(1);
        transform-origin: center center;
        transition: transform .5s;
        transition: opacity ease-in-out 0.4s;

        &[aria-hidden="true"]{
            visibility: hidden;
            opacity: 0;
        }
    }

    .carousel-controls {
        z-index: 10;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .currentImgCount {
        z-index: 10;
        position: absolute;
        bottom: 1.5rem;
        font-size: 1rem;
        font-weight: bolder;
        color: white;
    }
}
