@import '../../mixins.scss';

// style de la section infos des pages logement
.housing-infos {
        display: flex;
        justify-content: space-between;
        color: $mainColor;

        @include tablet {
            flex-flow: row wrap;
            gap: 1rem;
        }

        @include mobile {
            gap: .5rem;
        }

        .infos-section {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;

            @include tablet {
                flex-flow: column wrap;
                
                &:nth-of-type(2) {
                    width: 100%;
                    flex-flow: row-reverse;
                }
            }
        }
}