@import '../../mixins.scss';

// style de Banner
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: rem(223);
    border-radius: 1.1rem;
    overflow: hidden;
    
    @include tablet {
        height: 255px;
    }

    @include mobile-large {
        height: rem(111);
    }

    img {
        z-index: -1;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;

        @include mobile-large {
            object-position: right bottom;
        }
    }

    .title {
        z-index: 2;
        position: absolute;
        padding: 1rem;
        font-size: rem(48);
        color: $bgColor;

        @include small-desk {
            font-size: rem(30);
        }

        @include mobile-large {
            font-size: rem(24);
        }
    }
}